.detail {
    font-size: 30px;
    width: 100%;
    color: white;
    &-title, &-content {
        width: 75%;
        margin: 25px auto 0px;
    }
    &-title {
        border-bottom: 2px solid #45D9FC;
        &-content {
            width: 65%;
            display: flex;
            justify-content: space-between;
            span {
                font-family: Biger Over;
                padding: 20px 25px 20px 0;
            }
            .piece, .rarity {
                line-height: 50px;
                font-size: 24px;
            }
            .type {
                font-size: 24px;
                color: #45D9FC;
            }
        }
    }
    &-content {
        background: #474554;
        &-info {
            .hero {
                &-image {
                    img {

                    }
                }
                &-info {
                    width: 60%;
                }
            }
        }
    }
}
.hero {
    display: flex;
    width: 100%;

    .hero-left {
        display: flex;
        width: 80%;
        margin: 0 auto;
        &-thumbnail {
            .hero-image-detail {
                --border-width: 3px;
            
                position: relative;
                width: 90%;
                height: 370px;
                text-transform: uppercase;
                color: white;
                // margin: 10px auto;
                text-align: center;
                font-family: cursive;
                font-size: 24px;
                border-radius: 3px;
                min-height: 3em;
                resize: both;
                background: #08090C;
            
                &::before {
                    position: absolute;
                    inset: 0;
                    border-radius: 3px;
                    padding: 2px;
                    background: linear-gradient(45deg, #f25ac9, #45d9fc, #5846f9);
                    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
                    -webkit-mask-composite: xor;
                    mask-composite: exclude;
                    pointer-events: none;
                }
            
                .hero-thumbnail {
                    img {
                        width: 300px;
                        height: 350px;
                    }
                }
                
            }
            .hero-skill-image {
                display: flex;
                margin-top: 25px;
            }
        }
    }
}

.hero-info {
    width: 70%;
    &-fill {
        background: none;
        .hero {
            &-name, &-age, &-geisha {
                font-family: Odibee Sans;
                font-size: 24px;
            }
            &-name {
                color: #45D9FC;
            }
            &-geisha {
                font-family: Biger Over;
            }
        }
        span {
            margin-top: 5px;
            padding: 5px 10px;
        }
    }
    .card-info {
        font-size: 20px;
        background: #474554;
        margin-bottom: 10px;
        &-background {
            border-radius: 8px;
            background: #08090C;
            padding: 30px 0;
        }
        &-elemnt {
            display: flex;
            width: 95%;
            padding: 5px;
            .property-name {
                padding: 0 15px;
            }
        }
    }
    .price-element {
        font-size: 20px;
    }
    .detail-time {
        &-text {
            padding: 10px 16px;
            font-size: 20px;
        }

        &-info {
            .time-info {
                background: #08090C;
            }
        }
    }
    .detail-time-info {
        font-family: Odibee Sans;
        width: 100%;
        background: #08090C;
        font-size: 20px;
        .time-info {
            width: 100%;
            border-radius: 8px;
            margin: 25px auto;
            padding: 30px 25px;
            .time-buy, .time-top {
                padding: 0 15px;
            }
        }
    }
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

@media screen and (max-width: 1720px) {
    .hero {
        .hero-left {
            &-thumbnail {
                .hero-image-detail {
                    height: 350px;
                    .hero-thumbnail {
                        img {
                            width: 250px;
                            height: 300px;
                        }
                    }
                    
                }
                .hero-skill-image {
                    display: flex;
                    margin-top: 25px;
                    .skill-element {
                        img {
                            width: 160px;
                            height: 220px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1520px) {
    .hero {
        .hero-left {
            &-thumbnail {
                .hero-image-detail {
                    height: 255px;
                    .hero-thumbnail {
                        img {
                            width: 200px;
                            height: 230px;
                        }
                    }
                    
                }
                .hero-skill-image {
                    display: flex;
                    margin-top: 25px;
                    .skill-element {
                        img {
                            width: 140px;
                            height: 180px;
                        }
                    }
                }
            }
        }
    }
}