.search {
    margin: 20px 0;
    width: 100%;
    border-radius: 8px;
    height: 60px;
    background: #1e1f28;
    &-input {
        display: flex;
        width: 320px;
        &-icon {
            margin-left: 15px;
            line-height: 55px;
        }
        &-text {
            input[type="text"] {
                font-family: Odibee Sans;
                font-weight: 400px;
                font-size: 20px;
                width: 120%;
                border: none;
                background-color: #1e1f28;
                line-height: 60px;
                padding: 0 15px;
                outline: none;
                color: #C4C4C4;
            }
            @media screen and (max-width: 800px) {
                input[type="text"] {
                    width: 110%;
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 1920px) {
    .search {
        width: 100%;
    }
}