.offer{
    width: 98%;
    margin: 25px auto 0;
    border-top: 2px solid #45D9FC;
    padding: 25px 0;
    &-header {
        font-family: Biger Over;
    }
    &-content {
        background: #08090C;
    }
}