.parameter {
    background-color: #08090C;
    margin-top: 10px;
    width: 100%;
    .seperator {
        width: 90%;
        height: 10px;
        animation: rotate 3s infinite linear;
        -webkit-animation: rotate 3s infinite linear;
    }
}

.gradient {
    width: 90%;
    margin: 0 auto;
    background: rgb(48, 255, 144); /* Old browsers */
    background: -moz-linear-gradient(
        left,
        #08090C 0%,
        #F25AC9 25%,
        #45D9FC 50%,
        #5846F9 75%,
        #003350 100%
    ); /* FF3.6+ */
    background: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0%, #08090C),
        color-stop(25%, #F25AC9),
        color-stop(50%, #45D9FC),
        color-stop(75%, #5846F9),
        color-stop(100%, #003350)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(
        left,
        #08090C 0%,
        #F25AC9 25%,
        #45D9FC 50%,
        #5846F9 75%,
        #003350 100%
    ); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(
        left,
        #08090C 0%,
        #F25AC9 25%,
        #45D9FC 50%,
        #5846F9 75%,
        #003350 100%
    ); /* Opera 11.10+ */
    background: -ms-linear-gradient(
        left,
        #08090C 0%,
        #F25AC9 25%,
        #45D9FC 50%,
        #5846F9 75%,
        #003350 100%
    ); /* IE10+ */
    background: linear-gradient(
        to right,
        #08090C 0%,
        #F25AC9 25%,
        #45D9FC 50%,
        #5846F9 75%,
        #003350 100%
    ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30ff90', endColorstr='#30ff90',GradientType=1 ); /* IE6-9 */
}