.banner {
    width: 100%;
    background-color: rgb(49, 48, 58);
    border-bottom: 1px solid;
    animation: myborder 5s infinite;
    @keyframes myborder {
        0%   {top: 0px; left: 0px; background: #08090C;}
        25%  {top: 0px; left: 100px; background: #ba184f;}
        50%  {top: 100px; left: 100px; background: #45D9FC;}
        75%  {top: 100px; left: 0px; background: #5846F9;}
        100% {top: 0px; left: 0px; background: #003350;}
      }
    .banner-img{
        width: 95%;
        margin: 0 100px;
        img {
            margin:auto;
            display:block;
            width: 60%;
            margin: 0px auto;
        }
    }
    
}