.banner {
    width: 100%;
    background-color: rgb(49, 48, 58);
    .banner-img{
        width: 95%;
        margin: 0 100px;
        img {
            margin:auto;
            display:block;
            width: 60%;
            margin: 0px auto;
        }
    }
    
}