.btn {
    padding: 14px 28px !important;
    font-size: 16px;
    cursor: pointer;
}
.success {
    border: 2px solid #04aa6d;
    color: green;
}

.success:hover {
    background-color: #04aa6d;
    color: white;
}
.info {
    border: 2px solid #2196f3;
    color: dodgerblue;
}

.info:hover {
    background: #2196f3;
    color: white;
}
.warning {
    border: 2px solid #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}
.danger {
    border: 2px solid #f44336 !important;
    color: red !important;
}

.danger:hover {
    background: #f44336;
    color: white !important;
}
.default {
    border: 2px solid #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

.button-pieces {
    background-color: #55cccc;
    font-family: Biger Over;
    // padding: 10px;
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    text-align: center;
    cursor: pointer;
}

.button-complete {
    background-color: #1e1f28;
    font-family: Biger Over;
    padding: 10px 5px;
    color: #55cccc;
    text-align: center;
    cursor: pointer;
}

.btn-reset {
    color: #F25AC9;
    font-family: Odibee Sans;
    font-size: 20px;
    text-align: right;
    margin: 0 10px;
    cursor: pointer;
}

@media screen and (min-width: 1920px) {
    .btn {
        padding: 14px 28px !important;
        font-size: 16px;
        cursor: pointer;
    }
    
    .button-pieces {
        
    }
    
    .button-complete {

    }
}

@media screen and (min-width: 1520px) {
    .btn-design {
        font-size: 13px;
    }
    
    .button-pieces {

    }
    
    .button-complete {

    }
}