$font-odibee: Odibee Sans;
.footer {
    color: white;
    background-color: rgb(49, 48, 58);
    height: auto;
    text-align: center;
    .logo {
        img {
            margin-top: 15px;
            height: 100px;
        }
    }
    &-text {
        margin-top: 15px;
        .footer-title {
            h2 {
                font-weight: 350;
            }
        }
        .footer-content {
            margin: 0 auto;
            width: 50%;
            .footer-content-text {
                text-align: justify;
            }
            .footer-content-instagram {
                margin-top: 15px;
                .logo-instagram img {
                    width: 300px;
                    height: 150px;
                }
                .logo-hand img {
                    width: 200px;
                    padding-left: 20px;
                }
            }
        }
    }
    &-team {
        margin-top: 25px;
        display: flex;
        justify-content: center;

        .coin-icon {
            cursor: pointer;
        }

        &-info {
            font-family: $font-odibee;

            ul li {
                list-style: none;
                display: inline;
                padding: 0 30px;
                cursor: pointer;
            }
        }

        &-network {
            display: flex;

            .network-element {
                cursor: pointer;
                padding: 0 8px;
            }
        }
    }

    &-copyright {
        border-top: 3px solid #45d9fc;
        font-family: Poppins;
        font-size: 12px;
        line-height: 50px;
        height: 50px;
        background: rgba(8, 9, 12, 0.8);

        &-text {
            float: left;
            width: 56%;
        }
    }
}

@media screen and (max-width: 1920px) {
    .footer {
        &-team {
            &-info {
                ul li {
                    font-size: 13px;
                    display: inline;
                }
            }
        }
    }
}

@media screen and (max-width: 942px) {
    .footer {
        &-team {
            &-info {
                ul li {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 360px) {

    .footer {
        color: white;
        background-color: rgb(49, 48, 58);
        height: auto;
        text-align: center;
        .logo {
            img {
                margin-top: 15px;
                height: 100px;
            }
        }
        &-text {
            margin-top: 15px;
            .footer-title {
                h2 {
                    font-weight: 350;
                }
            }
            .footer-content {
                .footer-content-instagram {
                    .logo-instagram img {
                        width: 150px;
                        height: 120px;
                    }
                    .logo-hand img {
                        width: 130px;
                    }
                }
            }
        }
        &-team {
            margin-top: 25px;
            display: flex;
            justify-content: center;
    
            &-info {
                ul li {
                    display: none;
                }
            }
    
            &-network {
    
                .network-element {
                    img {
                        width: 25px;
                        height: 25px;
                    }
                }
            }
        }
    }    
}
