.footer {
    color: white;
    background-color: rgb(49, 48, 58);
    height: auto;
    text-align: center;
    .logo {
        img {
            margin-top: 15px;
            height: 100px;
        }
    }
    .footer-text {
        margin-top: 15px;
        .footer-title {
            h2 {
                font-weight: 350;
            }
        }
        .footer-content {
            margin: 0 auto;
            width: 50%;
            .footer-content-text {
                text-align: justify;
            }
            .footer-content-instagram{
                margin-top: 15px;
                .logo-instagram img {
                    width: 300px;
                    height: 150px;
                }
                .logo-hand img {
                    width: 200px;
                    padding-left: 20px;
                }
            }
        }
    }
}
