$fontBiger: Biger Over;
$fontOdibee: Odibee Sans;
$colorBlue: #45D9FC;
$colorGray: #e4e2e2;
$colorBlack: #08090C;

.btn {
    padding: 14px 28px !important;
    font-size: 16px;
    
    &-pieces, &-complete, &-reset, &-select, &-cyan, &-buy, &-page {
        cursor: pointer;
    }

    &-pieces {
        background-color: $colorBlue;
        font-family: $fontBiger;
        // padding: 10px;
        color: black;
        font-size: 16px;
        font-weight: 300;
        line-height: 44px;
        text-align: center;
    }

    &-complete {
        background-color: #1e1f28;
        font-family: $fontBiger;
        padding: 10px 5px;
        color: $colorBlue;
        text-align: center;
    }

    &-reset {
        color: #f25ac9;
        font-family: Odibee Sans;
        font-size: 20px;
        text-align: right;
        margin: 0 10px;
        cursor: pointer;
    }

    &-select {
        margin: 0 auto;
        width: 50%;
        background-color: #1e1f28;
        font-family: Odibee Sans;
        padding: 4px 32px;
        color: $colorBlue;
        text-align: center;
        font-size: 24px;
    }

    &-cyan {
        background: #2F9D9D;
        font-family: Odibee Sans;
        padding: 0 10px;
        font-size: 20px;
        width: 19%;
    }
    &-buy {
        background: $colorBlue;
        width: 50%;
        line-height: 44px;
    }
    &-page {
        cursor: pointer;
        color: white;
        font-family: Odibee Sans;
        font-size: 20px;
        padding: 0px 10px;
        margin: 0 5px;
        &-active {
            cursor: pointer;
            color: white;
            font-family: Odibee Sans;
            font-size: 20px;
            padding: 0px 10px;
            margin: 0 5px;
            background-color: #F25AC9;
        }
    }
}
.success {
    border: 2px solid #04aa6d;
    color: green;
}

.success:hover {
    background-color: #04aa6d;
    color: white;
}
.info {
    border: 2px solid #2196f3;
    color: dodgerblue;
}

.info:hover {
    background: #2196f3;
    color: white;
}
.warning {
    border: 2px solid #ff9800;
    color: orange;
}

.warning:hover {
    background: #ff9800;
    color: white;
}
.danger {
    border: 2px solid #f44336 !important;
    color: red !important;
}

.danger:hover {
    background: #f44336;
    color: white !important;
}
.default {
    border: 2px solid #e7e7e7;
    color: black;
}

.default:hover {
    background: #e7e7e7;
}

@media screen and (min-width: 1920px) {
    .btn {
        padding: 14px 28px !important;
        font-size: 16px;
        cursor: pointer;

        &-pieces, &-complete  {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 1520px) {
    .btn {
        font-size: 13px;
        &-pieces, &-complete  {
            font-size: 16px;
        }
    }
}

@media screen and (min-width: 360px) { 
    .btn {
        font-size: 13px;
        &-pieces, &-complete  {
            font-size: 15px;
        }
    }
}